aside {
    min-width: 68px;
    
    background-image: url(/img/sidebar-bg.png);
    background-color: #051e34;
}

.my_contenitore {
    padding-top: 66px;
    height: 100vh;
}

aside a:hover {
    background-color: rgba(255, 255, 255, 0.5); 
}

header {
    background-color: #1b72e8;
}

header .breadcrumb a {
    text-decoration: none;
}

header .rounded-pill {
    background-color: #165bba;
}

.fa-code {
    padding-block: 6px;
    padding-inline: 4px;

    border-radius: 50%;

    color: white;
    background-color: #f26551;
}

@media screen and (min-width: 992px) {
    aside {
        min-width: 150px;
    }

    header .offcanvas {
        width: 60% !important;
    }
}

